* body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(127, 184, 233);
    box-sizing: border-box;
}

/* container  */
.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
}

/* header start here  */
.header-section {
    background: linear-gradient(to left, rgba(62, 27, 27, 0.6), rgba(27, 10, 10, 0.6)), url(../image/fence-sweet-dog-cute-charity-player-1055936-pxhere.com.jpg);
    background-repeat: no-repeat;
    color: rgb(238, 215, 215);
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 55px;
    margin-bottom: 50px;
    padding-top: 10px;
}

.header-text {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1.3px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
}

.donate-btn {
    padding: 18px 20px;
    margin-bottom: 125px;
    background-color: #d63c4e;
    color: rgb(223, 210, 210);
    cursor: pointer;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    border-radius: 25px;
}


/* header end here  */